<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Erres | Ecocircular</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body class="d-flex flex-column">
    <%- include('layout/header.ejs') %>

    <div class="container my-4 principal">
      <h2 class="mb-4"><%= data.nombre %></h2>

      <div class="text-center">
        <img
          src="/img/<%= data.img %>"
          class="img-fluid"
          alt="<%= data.nombre %>"
        />
      </div>
      <p class="p-5"><%= data.descripcion %></p>
      <% for (let i=0; i < comments.length; i++) { %>
      <div class="alert alert-success m-1 p-2" role="alert">
        <h3 class="alert-heading h4 m-0"><%= comments[i].usuario.nombre %></h3>
        <p class="m-0 p-0"><%= comments[i].mensajes.texto %></p>
      </div>
      <% } %>

      <form action="/post/<%= idChat %>/new" method="post" class="mt-5">
        <div class="input-group mb-3">
          <input
            id="mensaje"
            name="mensaje"
            type="text"
            class="form-control"
            placeholder="Escriba su mensaje"
            aria-label="mensaje"
            aria-describedby="button-addon2"
            required
          />
          <button
            class="btn btn-outline-success"
            type="submit"
            id="button-addon2"
          >
            Agregar comentario
          </button>
        </div>
      </form>
    </div>

    <%- include('layout/footer.ejs') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
